<h1>Creation d'une equipe</h1>
<div id="team-form">
  <%= simple_form_for [@tournament, @team] do |f| %>
    <%= f.input :name, label: "Nom de l'équipe" %>
    <%= f.input :avatar, label: "Avatar", as: :file %>
    <%= f.submit, "Je suis prêt" %>
  <% end %>
</div>
