// Define variables for your color scheme

$yellow: #FFC42C;
$dark-grey: #474747;
$white: white;

// exemples mis à la base mais appelés ailleurs
$red: #FD1015;
$grey: #3e3e3f;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

