// Define variables for your color scheme

$yellow: #FFC42C;
$dark-grey: #474747;
$white: white;
$red: #F8462E;

// exemples mis à la base mais appelés ailleurs
$grey: #3e3e3f;
$orange: #fe8e1b;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
