.erreur{
  font-size:20pt;
}

img{
  max-width:30%;
  max-height:30%;
}
.container_erreur{
  text-align:center;
  padding-top:70px;
  padding-bottom:70px;
  padding-left:70px;
  padding-right:70px;
  font-family:monospace;
  font-size:12pt;
}
