// Specific CSS for your home-page
.logo{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  animation: hover 2s ease-in-out infinite;
}

@keyframes hover {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.buttons{
  display: flex;
  justify-content: center;
  margin: 32px;
}
.homecontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #120f1f;
}

.btn_pixel_art{
    font-family: 'Press Start 2P';
    font-size: 16px;
    padding: 12px 24px;
    border: 5px solid #fff;
    background-color: #fe8e1b;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    text-align: center;
    box-shadow: 2px 2px 0 #fff, 4px 4px 0 #fff, 6px 6px 0 #fff;
    transition: 0.1s;
    text-decoration: none;
}
.btn_pixel_art:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px dotted rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  pointer-events: none;
}

.btn_pixel_art:hover {
  box-shadow: 1px 1px 0 #fff, 2px 2px 0 #fff, 3px 3px 0 #fff;
  transform: translate(3px, 3px);
}

.btn_pixel_art:active {
  box-shadow: none;
  transform: translate(6px, 6px);
background-color: #fe8e1b;
}
