.championship-results {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.championship-results h1 {
  font-size: 28px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}

.match-result {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  align-items: center;

  &.statut-compo {
    background-color: white;
  }
  &.statut-running {
    background-color: $yellow;
  }
  &.statut-closed {
    background-color: lightgrey;
  }
}

.match-result h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.match-result p {
  font-size: 16px;
  margin-bottom: 0;
}

.team-names {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}
// Pas utilisé car on prend le composant bouton général
// .btn-details {
//   background-color: #007bff;
//   color: #fff;
//   border: none;
//   padding: 8px 16px;
//   border-radius: 5px;
//   text-decoration: none;
//   font-size: 14px;
//   transition: all 0.2s ease;
//   display: inline-block;
//   margin-bottom: 10px;
// }

// .btn-details:hover {
//   background-color: #0062cc;
// }
