

.user_card {
  background-color: $grey;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  height: 150px;
  display: bloc;
  align-items: center;
  text-transform: uppercase;
  justify-content: center;
  margin-top: 0;
  color:$yellow;
  font-family: 'press start 2p';



}
.general_card{
  margin-bottom: 60px;
  display:flex;
  justify-content: space-around;
  margin: 16px;
  align-items: center;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(215, 215, 215);
  border-radius: 8px;
  padding: 20px;
}
.user_card_owner{
  background-color: $yellow;
  border-radius: 10px;
  padding: 25px;
  width: 300px;
  height: 130px;
  text-transform: uppercase;
  display: flex;
  align-items: center;

}
.partner_name{
  color: white;
  font-size: 18px;
  margin: 0;
  color: white;
  font-family: 'press start 2p';
  align-items: center;


}
.user_card_title{
  font-size: 18px;
  margin: 0;
  color: white;
  font-family: 'press start 2p';
  display: flex;
  justify-content: center;
  text-transform: uppercase;

}
.date_match{
  font-size: 18px;
  margin: 0;
  color: $grey;
  font-family: 'press start 2p';
  display: flex;
  justify-content:flex-start;
  text-transform: uppercase;
  margin-left: 64px;

}
.statut{
  font-size: 18px;
  margin-left: 64px;
  color: $grey;
  font-family: 'press start 2p';
  display: flex;
  justify-content: flex-start;
  text-transform: uppercase;
}


.pixel_art_btn_tournament {
  display: flex;
  justify-content: flex-start;

}

.info{
  display: flex;
  justify-content: flex-start;
  padding-top: 64px;
  padding-bottom: 8px;

}
.sword{
  height: 60px;
  width: 80px;
  margin-top:50%;
}
.button_pix{
  display: flex;
  justify-content: center;
  align-items: center;
}
.margin{
  margin-top: -62px;
}
.general_card_online{
  margin-bottom: 60px;
  display:flex;
  justify-content: space-around;
  margin: 16px;

  background-color: rgb(229, 229, 229);
  border: 4px solid $yellow;
  border-radius: 8px;
  padding: 20px;
}

.sword_online{
  height: 60px;
  width: 80px;
  margin-top:50%;
  animation: hover 2s ease-in-out infinite;
}

@keyframes hover {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.sword_reverse{
  height: 60px;
  width: 80px;
  margin-top:50%;
  filter: grayscale(1);
}
.score_game{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  align-items: center;


}
.score_game p{
  color: white;
  font-size: 32px;
  font-family: 'press start 2p';
}
.score_game_before{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 46px;


}
.score_game_before p{
  color: $grey;
  font-size: 32px;
  font-family: 'press start 2p';
}
.general_card_off{
  margin-bottom: 60px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  margin: 16px;
  background-color: rgb(73, 73, 73);
  border-radius: 8px;
  padding: 20px;
}
.user_card_owner_off{
  background-color: rgb(224, 224, 224);
  border-radius: 10px;
  padding: 25px;
  width: 300px;
  height: 130px;
  text-transform: uppercase;

;
}
.partner_name_black{
  color: $grey;
  font-size: 18px;
  margin: 0;
  font-family: 'press start 2p';
  align-items: center;
}
.score_game_invisible{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f0f0f0;
  margin: 46px;


}
