.results-table {
  margin: 5rem auto;
  color: white;
  font-weight: bold;
  text-align: center;


  th {
    font-family: 'Press Start 2P';
    border-color: rgb(200, 200, 200);
    border-width: 2px;
    padding: 1rem;
  }

  tr {
    border-color: rgb(200, 200, 200);
    border-width: 2px;
  }

  td {
    border-color: rgb(200, 200, 200);
    border-width: 2px;
  }

}

.results-container {
  background-color: $grey;
  padding: 1rem;
  margin: 2rem;
  border-radius: 15px;
}
