.tournament {
  margin: auto 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-grow: 1
}

.tournament-header-show {
  background-color: $grey;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#avatar-tournament {
  width: 50px;
  margin-right: 20px;
}

.tournament-name {
  margin: 0 0 10px 0;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.tournament-status {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  color: #777;
  text-align: center;
}

.tournaments-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 90%;
  margin-bottom: 1rem;
  // height: 850px;
}

.team-list-title {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.team-list {
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
}

.team {
  font-size: 16px;
  margin-bottom: 5px;
}

.invite-title {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.invite-url {
  font-size: 16px;
  background-color: #bebebe;
  width: 19rem;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: #0062cc;
}

.btn-launch {
  margin-top: 20px;
}

.btn-join {
  margin-top: 20px;
}

.matches {
  margin-top: 20px;
  justify-content: center;
  width: 50%;
}

.match {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.match p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

  .buttons {
    margin: 20px;
    display: flex;
    /* justify-content: space-between; */
    /* width: 50%; */
    flex-flow: column;
}


.btn-team,
.btn-matches {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.2s ease;
}

.btn-team:hover,
.btn-matches:hover {
  background-color: #0062cc;
}

.match-list-title {
  font-weight: bold;
}

.match-list-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.players {
  display: block;
  justify-content: center;
  width: 80%;
  background-color: $yellow;
  padding: 16px ;
  margin-inline: auto;
  border-radius: 10px;
}

.ranking-group {
  margin-top: 2rem;
}

.player-rank {
  margin-top: 4rem;
  text-align: center;
  font-family: 'Press Start 2P';
}

.ranking-item {
  display: flex;
  margin: 1rem;
  font-family: 'Press Start 2P';
  font-size: 0.8rem;
  text-align: left;
}

.input-group {
  width: 35rem;
}

// #copy-button {
//   width: 12rem;
// }

.check{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
  border-radius: 10px;
  border: 1px solid #fff;
  padding: 8px;

  background-color: rgba(255, 255, 164, 0.3);
  color: white;
  font-family: 'Press Start 2P';


}
.check:hover{
  background-color: $grey;
  color: white
}
.tournament_list{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.center {
  text-align: center;
}

.dates {
  margin-bottom: 30px;
}
