<div class="dashboard-container">
  <div>
    <h1>TABLEAU DE BORD</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquam varius felis, gravida varius est porta et. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;</p>
  </div>
  <%= link_to "+ Nouveau tournoi", new_tournament_path, class: "button" %>
  <div class="dashboard-tournaments-container">
    <div>
      <h3>Mes tournois</h3>
      <div class="dashboard-tournaments-buttons">
        <% @user.tournaments.each do |tournament| %>
          <p><%= link_to tournament.name, tournament_path(tournament), class: "button" %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
