<h1>Creation d'un tournoi</h1>
<div id="tournament-form">
  <%= simple_form_for @tournament do |f| %>
    <%= f.input :name, label: "Nom du tournoi" %>
    <%= f.input :photo, label: "Image", as: :file %>
    <%= f.submit "Creer mon tournoi" %>
  <% end %>
</div>
