<h1>Creation d'un tournoi</h1>
<div class="container_tournament">
  <div id="tournament-form">
    <%= simple_form_for @tournament do |f| %>
      <%= f.input :name, label: "Nom du tournoi", class: %>
      <%= f.input :photo, label: "Image", as: :file %>
      <%= f.submit "Creer mon tournoi", class:'pixel_art_btn' %>
    <% end %>
  </div>
</div>
