<div>
  <h3><%= @tournament.name %></h3>
  <p><%= @tournament.status %></p>

  <% if @tournament.status == "created" %>
    <h4>Invite tes amis</h4>
    <p><%= url_for(only_path: false) %></p>
  <% end %>
</div>
