
<div class="homecontainer">
    <div class="picture">
      <div class="logo">
        <%= image_tag"logocob.jpg" %>
      </div>
      <div class="buttons">
        <%= link_to "play start", current_user ? user_path(current_user) : new_user_session_path,class: "pixel_art_btn" %>
      </div>
    </div>
  <div class="fireball"></div>
</div>
<div class="run">
<%= image_tag "run.png", class:'run-img' %>
<p>"On peut décider de ripoliner tout seul la façade mais enfin c’est une copropriété. <br>
À un moment donné dans une copropriété vous ne pouvez pas dire du jour au lendemain, 
ça doit être comme j’ai décidé parce que je m’appelle madame Le Pen."<br>

<span><br>Emmanuel Macron<em> - Débat Présidentielle 2022</em></br></span></p>

</div>
