
<div class="homecontainer">
  <div class="picture">
    <div class="logo">
      <%= image_tag"logocob.jpg" %>
    </div>
    <div class="buttons">
      <%= link_to "let's play", new_user_registration_path, class: "btn-btn" %>
    </div>
  </div>
