
<div class="homecontainer">
  <div class="picture">
    <div class="logo">
      <%= image_tag"logocob.jpg" %>
    </div>
    <div class="buttons">
      <%= link_to "play start", current_user ? user_path(current_user) : new_user_session_path,
      class: "pixel_art_btn" %>
    </div>
  </div>
<div class="fireball"></div>

