
<div class="homecontainer">
    <div class="picture">
      <div class="logo">
        <%= image_tag"logocob.jpg" %>
      </div>
      <div class="buttons">
        <%# Le bouton play start envoie sur le tournoi en cours si un seul tournoi %>
        <% if current_user && current_user.tournaments.length == 1 %>
          <% link = tournament_path(current_user.tournaments.first) %>
        <%# ou sur la liste des tournois si plusieurs %>
        <% elsif current_user %>
          <% link = user_path(current_user) %>
        <%# ou sur la pade de connexion si pas connecté %>
        <% else %>
          <% link = new_user_session_path %>
        <% end %>
        <%= link_to "play start", link,class: "pixel_art_btn_home_page" %>
      </div>
    </div>
  <div class="fireball"></div>
</div>
<div class="run">
  <%= image_tag "run.png", class:'run-img' %>
  <p>"On peut décider de ripoliner tout seul la façade mais enfin c’est une copropriété. <br>
  À un moment donné dans une copropriété vous ne pouvez pas dire du jour au lendemain,
  ça doit être comme j’ai décidé parce que je m’appelle madame Le Pen."<br>

  <span><br>Emmanuel Macron<em> - Débat Présidentielle 2022</em></br></span></p>
</div>
