
<div class="homecontainer">
  <div class="picture">
    <div class="logo">
      <%= image_tag"logocob.jpg" %>
    </div>
    <div class="buttons">
      <%= link_to "play start", new_user_session_path, class: "btn_start" %>
    </div>
  </div>
