<h1>Résultats du championnat <%= @tournament.name %></h1>

<% @matches.each do |match| %>
  <% tournament = match.tournament %>
  <h3>Match <%= match.id %></h3>
  <p><%= tournament.name %></p>
<% end %>
