<div>
  <h1>Match of the week</h1>

  <div>
    <h3>Your team</h3>
    <% @match.politics.each do |politic| %>
      <%= politic.first_name %>
      <%= politic.last_name %>
    <% end %>
  </div>

  <div>
    <h3>Your competitor</h3>
  </div>
</div>

<% @match.users.each do |user| %>
  <%= user.nickname %>
<% end %>
