<div>
  <h1>Match of the week</h1>

  <% @match.teams.each do |team| %>
    <h3><%= team.name %></h3>
    <% @match.line_ups.each do |line_up| %>
      <% if team.politics.include?(line_up.politic) %>
        <ul>
          <li><%= line_up.politic.first_name %> <%= line_up.politic.last_name %></li>
        </ul>
      <% end %>
    <% end %>
  <% end %>

</div>
