.button {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 12px;
  background-color: $yellow;
  color: $white;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  box-shadow: 3px 3px 2px #474747;
  transition: 0.2s;
  display: block;

  &:hover {
    background-color: $red;
    color: $white;
  }
}

.button-orange {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 12px;
  background-color: $orange;
  color: $white;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  box-shadow: 3px 3px 2px #474747;
  transition: 0.2s;
  display: block;

  &:hover {
    background-color: $red;
    color: $white;
  }
}

.button-red {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 12px;
  background-color: $red;
  color: $white;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  box-shadow: 3px 3px 2px #474747;
  transition: 0.2s;
  display: block;
}

.back-buttons {
  display: flex;
  justify-content: space-between;
}
