.dashboard-card {
  color: $grey;
  padding: 16px;
  justify-content: space-between;
  align-items: baseline;
  box-shadow: 2px 2px 0 #fff, 4px 4px 0 #fff, 6px 6px 0 #fff;
  padding: 1rem;
  margin:8px;
  background-color: rgb(255, 255, 255);
  width: 20rem;
  height: 40rem;
  margin-bottom: 32px;
}

.dashboard-card:hover {
  transform: translate(-3px, -3px);
}

.dashboard-title {
  padding-top: 1rem;
  font-family: 'Press Start 2P';
}

.team-avatar {
  width: 8px;
  border-radius: 50%;
}

.dashboard-card-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  justify-content: space-around;
  height: 30rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.fleche {
  width: 40px;
  height: auto;
  color: $grey;
}

#fleche-bas {
  padding-bottom: 1rem;
}

.dashboard-card-politic {
  width: 8rem;
  height: 12rem;
  background-color: $yellow;
  color: $grey;
  border-radius: 10px;
  margin: 1rem auto 0;
  box-shadow: 2px 2px 2px #c9c9c9;

}

.dashboard-card-politic-name {
  width: 100%;
  height: 20%;
}

.dashboard-card-list-avatar {
  width: 100%;
  height: 50%;
}

.last-name {
  font-family: 'Press Start 2P';
  margin-bottom: 0;
  padding: 0;
  color: $grey;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  margin-top: 4px;
  margin-left: 4px;
}

.first-name {
  font-size: small;
  font-weight: bold;
  text-align: left;
  margin-left: 4px;
}

.countdown {
  background-color: $orange;
  margin: 1em 2em;
  padding: 0.5em 0.5em;
  border-radius: 25px;
  font-family: 'Press Start 2P';
}

.dashboard-subcard {
  border-bottom: 1px rgb(200, 200, 200) solid;
  margin-inline: 1em;
  padding-bottom: 1em;
}
h4{
  font-family: 'Press Start 2P';
  font-size: 12px;
  padding: 6px 12px;
  border: 3px solid #fff;
  background-color: $yellow;
  color:$grey;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 2px 2px 0 #fff, 4px 4px 0 #fff, 6px 6px 0 #fff;
  transition: 0.1s;
  text-decoration: none;
  width: 100%;
  align-self: center;
  margin: 0 auto;
}
