.footer {
  width: 100%;
  height: 250px;
  background-color: #ff5722;
  padding: 20px 0;
  text-align: center;
  color:white;
  padding-top: 32px;


}

.footer-links {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.footer-links a {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
}

.footer-links a:hover {
  color: $yellow;
  transform: scale(1.2);
}

.footer-copyright {
  font-size: 16px;

}
.menu_links{
  padding-top: 16px;
}
