header {
  background-color: $yellow;
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-logo img {
width: 200px;

}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.nav-links li {
  margin-right: 20px;
}

.nav-link {
  color: #333333;
  text-decoration: none;
  font-weight: bold;
}

.nav-link.active {
  text-decoration: none;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: $yellow;
  display: none;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  border: 1px solid $yellow;
}

.dropdown-menu li {
  margin: 0;
  padding: 5px 10px;
}

.dropdown-menu li a {
  color: $gray;
  text-decoration: none;
  display: block;
}

.dropdown-menu li a:hover {
  background-color: $gray;
  color: white;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
